@import "../../styles/Home.module.scss";

.Content {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-left: 20px;
	// padding-top: 40px;
	text-align: left;
	background-color: $primaryColor;

	h2 {
		padding-bottom: 20px;
	}
}

.Mission {
	padding-bottom: 40px;

	p {
		color: $secondaryColor;
		padding-left: 0px;
		padding-right: 0px;
	}
}

.SimpleBar {
	position: relative;
	height: 40px;
	width: 60%;
	background-color: $secondaryColor;
	bottom: 0;
	left: -250px;
	transform: skew(45deg);
}
